<h1>Log In Below:</h1>

<form method="post" action="/sessions">
<p><label for="email">Email: </label></p>
<p><input type = "text" name ="email" id ="email"></p>
<p><label for="email">Password: </label></p>
<p><input type = "password" name ="password" id ="password"></p>
<p><input type="submit" value="Log In" id="submit"></p>
</form>