<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
<p><label for="name">Name: </label></p>
<p><input type = "text" name ="name" id ="name"></p>
<p><label for="email">Email: </label></p>
<p><input type = "text" name ="email" id ="email"></p>
<p><label for="email">Password: </label></p>
<p><input type = "password" name ="password" id ="password"></p>
<p><input type="submit" value="Sign Up" id="submit"></p>
</form>
